/* Variables de colores para el modo claro */
:root {
  --bg-color-btn-theme: #dadada; /* Fondo Botones */
  --bg-color-btn-theme-hover: #c7c7c7; /* Hover Botones */
  --text-color-btn-theme: #000; /* Texto Botones */
  --text-color-btn-theme-hover: #fff; /* Texto Botones */
  --bg-color-nav: #C7C8CC; /* Fondo Nav y Footer */
  --bg-color: #e6e6e6; /* Fondo Principal */
  --bg-color-calc: #E8E9ED; /* Fondo Calculadora */
  --border-calc: #000; /* Bordes Calculadora */
  --bg-color-display: #e4ffeb; /* Display Calculadora */
  --display-text-color: #000; /* Texto Display Calculadora */
  --history-text-color: #616161; /* Texto History Display Calculadora */
  --bg-color-btn: #dadada; /* Fondo Botones */
  --bg-color-btn-hover: #b8b8b8; /* Hover Botones */
  --text-color-btn: #000; /* Texto Botones */
  --bg-color-btn-operation: #FFCF96; /* Fondo Botones Operaciones */
  --bg-color-btn-operation-hover: #ffc074; /* Fondo Hover Botones Operaciones */
  --text-color-btn-operation: #000; /* Texto Botones Operaciones */
  --bg-color-btn-delete: #FFAAAA; /* Fondo Botones Delete / All Clear */
  --bg-color-btn-delete-hover: #ff8181; /* Fondo Hover Botones Delete / All Clear */
  --text-color-btn-delete: #c54c4c; /* Texto Botones Delete / All Clear */
}

/* Variables de colores para el modo oscuro */
.dark-mode {
  --bg-color: #373737; /* Fondo Principal */

  --bg-color-btn-theme: #242424; /* Fondo Botones */
  --bg-color-btn-theme-hover: #000; /* Hover Botones */
  --text-color-btn-theme: #fff; /* Texto Botones */
  --text-color-btn-theme-hover: #000; /* Texto Botones */
  --bg-color-nav: #181C14; /* Fondo Nav y Footer */
  --bg-color-calc: #1E1E1E ; /* Fondo Calculadora */
  --border-calc: #19202b; /* Bordes Calculadora */
  --bg-color-display: #e4f0ff; /* Display Calculadora */
  --display-text-color: #000; /* Texto Display Calculadora */
  --history-text-color: #616161; /* Texto History Display Calculadora */
  --bg-color-btn: #555; /* Fondo Botones */
  --bg-color-btn-hover: #666; /* Hover Botones */
  --text-color-btn: #fff; /* Texto Botones */
  --bg-color-btn-operation: #4A90E2 ; /* Fondo Botones Operaciones */
  --bg-color-btn-operation-hover: #559ff5; /* Fondo Hover Botones Operaciones */
  --text-color-btn-operation: #FFFFFF  ; /* Texto Botones Operaciones */
  --bg-color-btn-delete: #D35454 ; /* Fondo Botones Delete / All Clear */
  --bg-color-btn-delete-hover: #df5c5c; /* Fondo Hover Botones Delete / All Clear */
  --text-color-btn-delete: #fff; /* Texto Botones Delete / All Clear */
}

/* Estilos generales */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  transition: .5s;
}

/* Estilos de la barra de navegacion */
.nav {
  background-color: var(--bg-color-nav);
  color: #fff;
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--bg-color-btn);
  transition: .4s;
}

/* Estilos del botón de cambio de tema */
.theme-toggle {
  width: 5rem;
  margin: 10px;
  padding: 10px;
  background-color: var(--bg-color-btn-theme);
  color: var(--text-color-btn-theme);
  border: 1px solid var(--bg-color-btn-hover);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
}

.theme-toggle:hover {
  background-color: var(--bg-color-btn-theme-hover);
}

/* Estilos del titulo principal */
.nav h1 {
  width: 100%;
  color: var(--text-color-btn);
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  font-family: 'DS-Soda', sans-serif;
  transition: .4s;
}
@font-face {
  font-family: 'DS-Soda';
  src: url('./Fonts/coffee_soda/Coffee\ Soda.ttf') format('truetype');
}

/* Estilos del contenedor de la calculadora */
.main {
  background-color: var(--bg-color);
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

/* Estilos de la calculadora */
.calculadora {
  background-color: var(--bg-color-calc);
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-calc);
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
  box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
  transition: .5s;
}

/* Estilos del display */
.display {
  background-color: var(--bg-color-display);
  min-height: 4rem;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
  box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
  font-family: 'DS-Digital-BoldItalic', sans-serif;
}
@font-face {
  font-family: 'DS-Digital-BoldItalic';
  src: url('./Fonts/ds_digital/DS-DIGIT.TTF') format('truetype');
}

.history {
  font-size: 18px;
  font-weight: 600;
  color: var(--history-text-color);
  text-align: right;
  min-height: 20px;
  direction: ltr;
  text-overflow: clip;
  white-space: nowrap;
}

.current {
  font-size: 2.3em;
  font-weight: 700;
  color: var(--display-text-color);
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

/* Estilos de los botones */
.botones {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin: .5rem 1rem 1.5rem 1rem;
}

button {
  background-color: var(--bg-color-btn);
  color: var(--text-color-btn);
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
}

button:hover {
  background-color: var(--bg-color-btn-hover);
  transition: 0s;
}

.btn-operation {
  background-color: var(--bg-color-btn-operation);
  color: var(--text-color-btn-operation);
}

.btn-operation:hover {
  background-color: var(--bg-color-btn-operation-hover);
}

.btn-delete {
  background-color: var(--bg-color-btn-delete);
  color: var(--text-color-btn-delete);
  font-size: 1em;
  font-weight: 600;
}

.btn-delete:hover {
  background-color: var(--bg-color-btn-delete-hover);
}

.btn-igual {
  grid-column: span 2;
  width: calc(60px * 2 + 10px);
}

.btn-suma {
  grid-row: span 2;
  height: calc(60px * 2 + 10px);
}

/* Estilos del pie de pagina */
.footer {
  color: var(--text-color-btn);
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
  display: flex;
}

.footer div {
  width: 50%;
  height: 100%;
}

.footer .by-acsb {
  display: flex;
  justify-content: flex-end;
}

.footer .by-acsb a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 1.6em;
}

.footer .by-acsb p {
  color: #fff;
  text-shadow: 3px 3px 0px black, 
  3px -3px 0px black, 
  -3px 3px 0px black, 
  -2px -2px 0px black,
  2px 0px 0px black, 
  0px 2px 0px black, 
  -2px 0px 0px black, 
  0px -2px 0px black;
  font-family: 'DS-Heap', sans-serif;
  transition: .4s;
}
@font-face {
  font-family: 'DS-Heap';
  src: url('./Fonts/heavy_heap/heavy\ heap\ rg.otf') format('truetype');
}

.footer .by-acsb a:hover p {
  color: #ff7e5f;
}

.footer .by-acsb img {
  width: 3rem;
  background-color: var(--bg-color-nav);
  border-radius: 30px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid black;
}
.footer .by-acsb a:hover img {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  border: 2px solid black;
}

.footer .foot-logos {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 5rem;
  align-items: center;
  transition: .5s;
}

.footer .foot-logos a {
  display: flex;
  background-color: var(--bg-color-btn-theme);
  color: var(--text-color-btn);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--text-color-btn);
  border-radius: 5px;
  padding: 5px 10px 5px 2px;
}

.footer .foot-logos a {
  margin-left: .5rem;
}

.footer .foot-logos a:hover {
  background-color: var(--bg-color-btn-theme-hover);
}

.footer .foot-logos a svg {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 5px;
}

/* MEDIA QUERY PARA DISPOSITVOS MOVILES */
@media (max-width: 600px) {
  .nav h1 {
    font-size: 2em;
    margin-left: 5%;
  }

  .theme-toggle {
    width: 4rem;
    margin: 8px;
    padding: 8px;
    font-size: 14px;
  }

  .footer {
    margin-bottom: 1.5rem;
  }

  .footer > * {
    scale: 0.9;
  }
  
    .footer .foot-logos {
      margin: 0;
    }
  }


  .footer .by-acsb a {
    flex-wrap: wrap;
    justify-content: center;
  }