/* Variables de colores para el modo claro */
:root {
  --background-color: #C7C8CC;
  --border-color: #000;
  --background-color-calc: #E8E9ED;
  --display-background-color: #e4ffeb;
  --button-background-color: #dadada;
  --button-border-color: #b8b8b8;
  --button-text-color: #000;
  --btn-operation-background-color: #FFCF96;
  --btn-operation-border-color: #e7c44f;
  --btn-delete-background-color: #FFAAAA;
  --btn-delete-color: #c54c4c;
  --btn-delete-border-color: #fda6a6;
  --display-text-color: #000;
  --history-text-color: #616161;
}

/* Variables de colores para el modo oscuro */
.dark-mode {
  --background-color: #242424;
  --border-color: #19202b;
  --background-color-calc: #263142;
  --display-background-color: #e4ffeb;
  --button-background-color: #555;
  --button-border-color: #666;
  --button-text-color: #fff;
  --btn-operation-background-color: #263142;
  --btn-operation-color: #F4CE14;
  --btn-operation-border-color: #FF7F50;
  --btn-delete-background-color: #FFAAAA;
  --btn-delete-color: #c54c4c;
  --btn-delete-border-color: #FF4500;
  --display-text-color: #000;
  --history-text-color: #616161;
}

/* Estilos generales */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.nav {
  background-color: #263142;
  color: #fff;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.nav h1 {
  color: #fff;
  width: 100%;
}

.main {
  background-color: var(--background-color);
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #263142;
  color: #fff;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos de la calculadora */
.calculadora {
  background-color: var(--background-color-calc);
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
  box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.88);
}

/* Estilos del botón de cambio de tema */
.theme-toggle {
  width: 5rem;
  margin: 10px;
  padding: 10px;
  background-color: var(--button-border-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.theme-toggle:hover {
  background-color: var(--button-background-color);
}

/* Estilos del display */
.display {
  background-color: var(--display-background-color);
  min-height: 4rem;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
  box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.88);
}

.history {
  font-size: 18px;
  color: var(--history-text-color);
  text-align: right;
  min-height: 20px;
  direction: ltr;
  text-overflow: clip;
  white-space: nowrap;
}

.current {
  font-size: 32px;
  color: var(--display-text-color);
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

/* Estilos de los botones */
.botones {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin: .5rem 1rem 1.5rem 1rem;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.88);
}

button:hover {
  background-color: var(--button-border-color);
}

.btn-operation {
  background-color: var(--btn-operation-background-color);
  color: var(--btn-operation-color);
}

.btn-operation:hover {
  background-color: var(--btn-operation-color-hover);
}

.span-two {
  background-color: var(--btn-delete-background-color);
  color: var(--btn-delete-color);
  font-size: 1em;
  font-weight: 600;
}

.span-two:hover {
  background-color: var(--btn-delete-color-hover);
}

.span-three {
  grid-column: span 2;
  width: calc(60px * 2 + 10px);
}

.span-Mas {
  grid-row: span 2;
  height: calc(60px * 2 + 10px);
}
